body {
  text-align: center;
  background-image: url("https://cdn.theatlantic.com/media/img/photo/2015/02/c01_59565822_lead/original.jpg");
  margin-bottom: 200px;
  color: whitesmoke;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: whitesmoke;
}

.recipe {
  margin: 50px;
  border: 4px solid grey;
}

img {
  width: 300px;
}

header {
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin-left: 36px;
}

ul,
ol {
  list-style-type: none;
}